widgets/widget-template-vue/.eslintignore
widgets/widget-template-vue/.eslintrc.json
widgets/widget-template-vue/.gitlab-ci.yml
widgets/widget-template-vue/.markdownlint.json
widgets/widget-template-vue/.prettierrc
widgets/widget-template-vue/.zipignore
widgets/widget-template-vue/README.md
widgets/widget-template-vue/.vscode/extensions.json
widgets/widget-template-vue/.vscode/launch.json
widgets/widget-template-vue/.vscode/settings.json
widgets/widget-template-vue/node_modules/*
widgets/Table Vue/.eslintignore
widgets/Table Vue/.eslintrc.json
widgets/Table Vue/.gitlab-ci.yml
widgets/Table Vue/.markdownlint.json
widgets/Table Vue/.prettierrc
widgets/Table Vue/.zipignore
widgets/Table Vue/README.md
widgets/Table Vue/.vscode/extensions.json
widgets/Table Vue/.vscode/launch.json
widgets/Table Vue/.vscode/settings.json
widgets/Table Vue/node_modules/*