widgets/widget-template-vue/.eslintignore
widgets/widget-template-vue/.eslintrc.json
widgets/widget-template-vue/.gitlab-ci.yml
widgets/widget-template-vue/.markdownlint.json
widgets/widget-template-vue/.prettierrc
widgets/widget-template-vue/.zipignore
widgets/widget-template-vue/README.md
widgets/widget-template-vue/.vscode/extensions.json
widgets/widget-template-vue/.vscode/launch.json
widgets/widget-template-vue/.vscode/settings.json
widgets/widget-template-vue/node_modules/*
widgets/TableVue/.eslintignore
widgets/TableVue/.eslintrc.json
widgets/TableVue/.gitlab-ci.yml
widgets/TableVue/.markdownlint.json
widgets/TableVue/.prettierrc
widgets/TableVue/.zipignore
widgets/TableVue/README.md
widgets/TableVue/.vscode/extensions.json
widgets/TableVue/.vscode/launch.json
widgets/TableVue/.vscode/settings.json
widgets/TableVue/node_modules/*
widgets/Formation/.eslintignore
widgets/Formation/.eslintrc.json
widgets/Formation/.gitlab-ci.yml
widgets/Formation/.markdownlint.json
widgets/Formation/.prettierrc
widgets/Formation/.zipignore
widgets/Formation/README.md
widgets/Formation/.vscode/extensions.json
widgets/Formation/.vscode/launch.json
widgets/Formation/.vscode/settings.json
widgets/Formation/node_modules/*
widgets/KPISimulator/.eslintignore
widgets/KPISimulator/.eslintrc.json
widgets/KPISimulator/.gitlab-ci.yml
widgets/KPISimulator/.markdownlint.json
widgets/KPISimulator/.prettierrc
widgets/KPISimulator/.zipignore
widgets/KPISimulator/README.md
widgets/KPISimulator/.vscode/extensions.json
widgets/KPISimulator/.vscode/launch.json
widgets/KPISimulator/.vscode/settings.json
widgets/KPISimulator/node_modules/*
widgets/PartnersGatesKPI5/.eslintignore
widgets/PartnersGatesKPI5/.eslintrc.json
widgets/PartnersGatesKPI5/.gitlab-ci.yml
widgets/PartnersGatesKPI5/.markdownlint.json
widgets/PartnersGatesKPI5/.prettierrc
widgets/PartnersGatesKPI5/.zipignore
widgets/PartnersGatesKPI5/README.md
widgets/PartnersGatesKPI5/.vscode/extensions.json
widgets/PartnersGatesKPI5/.vscode/launch.json
widgets/PartnersGatesKPI5/.vscode/settings.json
widgets/PartnersGatesKPI5/node_modules/*
widgets/KPIAdministrator/.eslintignore
widgets/KPIAdministrator/.eslintrc.json
widgets/KPIAdministrator/.gitlab-ci.yml
widgets/KPIAdministrator/.markdownlint.json
widgets/KPIAdministrator/.prettierrc
widgets/KPIAdministrator/.zipignore
widgets/KPIAdministrator/README.md
widgets/KPIAdministrator/.vscode/extensions.json
widgets/KPIAdministrator/.vscode/launch.json
widgets/KPIAdministrator/.vscode/settings.json
widgets/KPIAdministrator/node_modules/*
widgets/DormantAccounts/.eslintignore
widgets/DormantAccounts/.eslintrc.json
widgets/DormantAccounts/.gitlab-ci.yml
widgets/DormantAccounts/.markdownlint.json
widgets/DormantAccounts/.prettierrc
widgets/DormantAccounts/.zipignore
widgets/DormantAccounts/README.md
widgets/DormantAccounts/.vscode/extensions.json
widgets/DormantAccounts/.vscode/launch.json
widgets/DormantAccounts/.vscode/settings.json
widgets/DormantAccounts/node_modules/*
widgets/SpeedDating/.eslintignore
widgets/SpeedDating/.eslintrc.json
widgets/SpeedDating/.gitlab-ci.yml
widgets/SpeedDating/.markdownlint.json
widgets/SpeedDating/.prettierrc
widgets/SpeedDating/.zipignore
widgets/SpeedDating/README.md
widgets/SpeedDating/.vscode/extensions.json
widgets/SpeedDating/.vscode/launch.json
widgets/SpeedDating/.vscode/settings.json
widgets/SpeedDating/node_modules/*
widgets/FPSO/.eslintignore
widgets/FPSO/.eslintrc.json
widgets/FPSO/.gitlab-ci.yml
widgets/FPSO/.markdownlint.json
widgets/FPSO/.prettierrc
widgets/FPSO/.zipignore
widgets/FPSO/README.md
widgets/FPSO/.vscode/extensions.json
widgets/FPSO/.vscode/launch.json
widgets/FPSO/.vscode/settings.json
widgets/FPSO/node_modules/*