.notifyjs-corner {
    position: fixed;
    margin: 5px;
    z-index: 1050;
    top: 0px;
    right: 0px;
    opacity: 0%;
    
    background:#e3f7fc;
    min-width: 200px;
    border-radius:10px;
    border:1px solid #a6ca8a;
    padding:10px 10px 10px 10px;
    text-align: right;
}